@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Greeting"], Мир!</h1> 

<p>Мы будем рады видеть Вас на нашей вечеринке!!! </p> 

<p>@Html.ActionLink("Принять приглашение", "AcceptForm")</p>  
